/**************************Question No 8 ********************************/

/* button {
    background-color: blue;
    color: white;
    border-radius: 20px;
    width: 20%;
    height: 50px;
  }
  button:hover {
    background-color: red;
  };
   */
/* 
 **************************Question No 11 ******************************** */
 /* .hidden {
    display: none;
  } */
